# Coursera IBM Data Science Capstone Part-1

## The Battle of the Neighbours

We will be trying to find out similar neighbourhoods in Toronto so that when we want to shift, it can be hassle free. (All things are hypothetical :P)

In [1]:
#Importing the basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Step 1: Importing the Dataset

In [64]:
# We are going to use Wikipedia to load the table of postal code into Pandas Dataframe

wiki_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') # parsing html for tables

data = wiki_data[0] # Since pd.read_html returns tables of a webpage, and since the first table is the one we wanted hence
                          # wiki_data[0] is taken

data.head() # printing out the first 5 elements of the table

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

# Step 2: Data Analysis and Alteration

In [65]:
# We will clear out the cells where Borough is Not Assigned. For that we need to check the cells whoch have Borough as not
# assigned

df = data.loc[data['Borough'] != 'Not assigned',:].reset_index(drop=True) #Extracting the rows which have some
                                                                                        #Boroughs assigned

df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [68]:
df.loc[df['Neighbourhood'] == 'Not assigned'] #Checking if there are Not assigned Neighbourhoods

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

All Neighbourhoods are assigned. No need for change!

In [66]:
repeat_postal = df['Postal Code'].value_counts() #Checking if there are repeated postal codes
repeat_postal[repeat_postal > 1]

Series([], Name: Postal Code, dtype: int64)

There are no repeated postal codes, hence no need to update anything!

In [69]:
df.shape # Checking the shape of the dataframe

(103, 3)

In [77]:
df.to_csv('Neighbourhood_data',index=False) #Storing the data in a csv file for next portion of the assignment